@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Rowdies:wght@300;400;700&family=Unbounded:wght@200..900&display=swap');

@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@theme {
    --font-one: "Rowdies", sans-serif;
    --font-two: "Unbounded", sans-serif;
    --font-three: "Josefin Sans", sans-serif;
    --font-four: "Michroma", sans-serif;
    --font-five: "Intel One Mono", monospace;

    --color-background-100: #FFFFFF;
    --color-background-300: #F5F5F5;
    --color-background-500: #E0E0E0;
    --color-background-700: #CCCCCC;
    --color-background-900: #B3B3B3;

    --color-text-100: #4A4A4A;
    --color-text-300: #333333;
    --color-text-500: #1A1A1A;
    --color-text-700: #0D0D0D;
    --color-text-900: #000000;

    --color-accent-100: #FF99C8;
    --color-accent-300: #F471B5;
    --color-accent-500: #EB0072;
    --color-accent-700: #C70061;
    --color-accent-900: #A30050;

    --color-accent1-100: #B3E5FC;
    --color-accent1-300: #81D4FA;
    --color-accent1-500: #4FC3F7;
    --color-accent1-700: #29B6F6;
    --color-accent1-900: #0288D1;

    --color-accent2-100: #C8E6C9;
    --color-accent2-300: #A5D6A7;
    --color-accent2-500: #81C784;
    --color-accent2-700: #66BB6A;
    --color-accent2-900: #4CAF50;

    --color-variant-100: #EB0072;
}

.dark {
    --color-background-100: #2A2A2A;
    --color-background-300: #212121;
    --color-background-500: #181818;
    --color-background-700: #121212;
    --color-background-900: #0A0A0A;

    --color-text-100: #E0E0E0;
    --color-text-300: #CCCCCC;
    --color-text-500: #B0B0B0;
    --color-text-700: #999999;
    --color-text-900: #FFFFFF;

    --color-accent-100: #FF99C8;
    --color-accent-300: #F471B5;
    --color-accent-500: #EB0072;
    --color-accent-700: #C70061;
    --color-accent-900: #A30050;

    --color-accent1-100: #4FC3F7;
    --color-accent1-300: #29B6F6;
    --color-accent1-500: #0288D1;
    --color-accent1-700: #0277BD;
    --color-accent1-900: #01579B;

    --color-accent2-100: #81C784;
    --color-accent2-300: #66BB6A;
    --color-accent2-500: #4CAF50;
    --color-accent2-700: #388E3C;
    --color-accent2-900: #2E7D32;
    
    --color-variant-100: #EB0072;
}